/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets background color of page */
body {
    background-color: #d9dcd6;
}

/* Sets background color and padding of header bar, font family and font color of Horiseon logo */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets font size of "Horiseon" in header bar and displays in the same line as links */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Sets font color of letters "seo" in "Horiseon" in header bar */
header h1 .seo {
    color: #d9dcd6;
}

/* Sets padding, margin, font family and font size of links in header bar, and orients them on the right side */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Tells list in header bar to not display list items with bullets */
header nav ul {
    list-style-type: none;
}

/* Tells links in header bar to display on a line from left to right and sets the left margin of the links */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Sets font color of links in header bar */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets font size of all text in <p> tags to 16px*/
p {
    font-size: 16px;
}

/* Formats background image on page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets the image for Search Engine Optimization and Social Media Marketing boxes to the left of the text */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Sets the image for Online Reputation Management to the right of the text */
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}



.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets bottom margin of "Social Media Marketing" text box to 20px
   Sets font size of "Social Media Marketing" text box to 36px */ 
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sets all text in <h3> tags in sidebar to be center aligned with margins of 10px */
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sets margins of all images in sidebar to 10px with a max width of 150px
   Sets all images in sidebar above respective text */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets padding on all sides of footer to 30px
   Disallows floating elements on left and right side
   Sets font family of footer
   Aligns text of footer to the center of the page */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Sets font size of footer text to 20px */
footer h4 {
    font-size: 20px;
}
